<div class="container mt-5">
  <div>
    <h1>Watchlist</h1>
    <%= link_to "Create list", new_list_path %>
  </div>


  <div class="cards">
    <% @lists.each do |list| %>
      <%= render 'lists/card', list: list %>
    <% end %>
  </div>
</div>
